    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <!--<p>The best way to contact us is to send an email at <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                -->

                <p>
                  Contact our president Walter at <a href="tel:4109842434">(410) 984-2434</a>
                or email to our vice president <a href="mailto: kdave.berry@gmail.com">Dave</a>.
                </p>
                <br/>

                <p>Check out our <a href="https://www.facebook.com/1751357945113419">Facebook page</a>!</p>
                <br/>
                <p>Suggestions regarding the website (errors or improvements), please send an email to
                    <a href="mailto:{{ site.email }}">Vasiliy</a> or
                    <a href="mailto: wan9c9@gmail.com">Chao</a>.
                </p>

                <br/>
                <div>
                  Clearview Flying Club <br/>
                  526 Oak Tree Road <br/>
                  Westminster, MD, 21157
                </div>

            </div>
        </div>
    </section>
