    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>The best way to contact us is to send an email at <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                <p>Check out our <a href="https://www.facebook.com/1751357945113419">Facebook page</a>!</p>
                <div>
                    Contact our president: Walter Tegeler
                  Voicemail: <a href="tel:4109842434">(410) 984-2434</a>
                </div>
                <br/>
                <div>
                  Clearview Flying Club <br/>
                  526 Oak Tree Road <br/>
                  Westminster, MD, 21157 
                </div>
            </div>
        </div>
    </section>
