    <!-- News Section -->
    <section id="news" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Congratulations to the following members for their milestones:</h2>
                <p>Melanee Funk-SOLO ?/??/2022                  </p>
                <p>Kyle Drayer-SOLO ?/??/2022                   </p>
                <p>Thomas Marello-SOLO 10/6/2022                </p>
                <p>John Orzechowski-COMMERCIAL 9/14/2022        </p>
                <p>Isaac Newgent-SOLO 9/10/2022                 </p>
                <p>McNally-PRIVATE PILOT 8/26/2022              </p>
                <p>Kian Donavan-PRIVATE PILOT 7/5/2022          </p>
                <p>Trent Miller-PRIVATE PILOT 7/??/2022         </p>
                <p>Jonathan Hawkins-PRIVATE PILOT 4/29/2022     </p>
                <p>Justin Buchanan-SOLO 4/12/2022               </p>
                <p>Michael Jordan-PRIVATE PILOT 2/21/2022       </p>
                <p>Michael Jordan-SOLO 7/28/2021                </p>
                <p>Vasiliy Gokoyev-PRIVATE PILOT 6/28/2021      </p>
                <p>Diego Ayala-PRIVATE PILOT 5/27/2021          </p>
                <p>John Orzechowski-HIGH PERF. 3/27/2021        </p>
                <p>Vasiliy Gokoyev-SOLO 2/12/2021               </p>
                <p>Trent Miller-SOLO 12/28/2020                 </p>
                <p>John Orzechowski-COMPLEX 11/25/2020          </p>
                <p>John Orzechowski-TAILWHEEL 11/22/2020        </p>
                <p>John Orzechowski-INSTRUMENT 7/30/2020        </p>
                <p>Nicholas Krionderis-PRIVATE PILOT 7/29/2020  </p>
                <p>Ryan Schnitzler-SOLO 7/3/2020                </p>
                <p>Brendan Maddox-SOLO 7/3/2020                 </p>
                <p>Josh Ambrose-PRIVATE PILOT 6/29/2020         </p>
                <p>Nicholas Krionderis-SOLO 5/26/2020           </p>
                <p>Diego Ayala-SOLO 3/1/2020                    </p>
                <p>Bill Valway-PRIVATE PILOT 2/5/2020           </p>
                <p>Sharon Int Veldt-SOLO 1/30/2020              </p>
                <p>Taylor Ritcher-PRIVATE PILOT 11/30/2019      </p>
                <p>Marlon Koushall-PRIVATE PILOT 11/5/2019      </p>
                <p>Adrian Petasis-PRIVATE PILOT 11/1/2019       </p>
                <p>Jeremy Watt-PRIVATE PILOT 9/18/2019          </p>
                <p>Taylor Richter-SOLO 7/31/2019                </p>
                <p>Marlon Koushall-SOLO 7/14/2019               </p>
                <p>Josh Ambrose-SOLO 7/11/2019                  </p>
                <p>Bobby Evans-SOLO 2/4/2019                    </p>
                <p>Lee Cumberland-PRIVATE PILOT 1/22/2019       </p>
                <p>Larry Gibbs-SOLO 12/25/2018                  </p>
                <p>Nate Jackson-SOLO 12/19/2018                 </p>
                <p>Eric Shaw-SOLO 11/30/2018                    </p>
                <p>Charles Greene-PRIVATE PILOT 11/20/2018      </p>
                <p>Alan Koziol-COMMERCIAL 10/25/2018            </p>
                <p>Lee Cumberland-SOLO 9/19/2018                </p>
                <p>Andrew Hyde-PRIVATE PILOT 8/28/2018          </p>
                <p>James Hwang-INSTRUMENT 8/26/2018             </p>
                <p>John Orzechowski-PRIVATE PILOT 8/9/2018      </p>
                <p>Alan Koziol-INSTRUMENT 7/4/2018              </p>
                <p>Jamey Prettyman-SOLO 6/1/2018                </p>
                <p>John Orzechowski-SOLO 4/26/2018              </p>
                <p>Adrian Petasis-SOLO 4/20/2018                </p>
                <p>Andrew Hyde-SOLO 2/26/2018                   </p>
                <p>Bill Valway-SOLO 2/13/2018                   </p>
                <p>Jason Ashbaugh-PRIVATE PILOT 12/22/2017      </p>
                <p>Jeremy Watt-SOLO 10/18/2017                  </p>
                <p>Jason Ashbaugh-SOLO 10/10/2017               </p>
                <p>Charles Greene-SOLO 7/19/2017                </p>
                <p>Dave Berry-PRIVATE PILOT 6/22/2017           </p>
                <p>Jason Levine-SOLO 6/13/2017                  </p>
                <p>Travis Green-SOLO 4/14/2017                  </p>
                <p>Mike Lawson-SOLO 12/23/2016                  </p>
                <p>Dave Berry-SOLO 12/11/2016                   </p>
           </div>
        </div>
    </section>
