    <!-- Training Section -->
    <section id="training" class="content-section text-left">
        <div class="training-section">
            <div class="container content-box">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Student Pilots Welcome</h2>
                    <p>Getting the urge to fly?
                        We welcome student pilots in the club.
                        Every pilot was at one time a student pilot and we’re confident you’ll enjoy, with us, the lofty pursuit of flying!
                    </p>

                    <p>
                        See the <a href="#achievements">Achievements</a> page for how many peoples become pilots here!
                    </p>
                    <p>
                        We put a strong emphasis in safe flight. Learning to fly at Clearview, you'll be able to land in any airport in Maryland and else!
                    </p>

                    <p>Participation in the club is a great way to learn more about flying through interaction with other members.
                        We are different from flight schools in that we own the planes and have a strong interest in taking care of them
                        because we are also the ones flying the planes.
                        We keep rates low because club volunteers do as much as possible to keep the planes in top condition.
                        On average, the Club's rates are 25% lower than for-profit flight schools in the region.</p>
                </div>
            </div>
        </div>
    </section>
